/* =====================================
           330px
========================================*/
@media screen and (max-width:330px){
}
/* =====================================
           767px
========================================*/
@media screen and (max-width:767px){
    .detail{
        display: block;
        .image-div{
            position: static;
            height: 50vh;
        }
    }
}
/* =====================================
            991px
========================================*/
@media screen and (max-width:991px){
}
/* =====================================
       1024px
========================================*/
@media screen and (max-width:1024px){
}